<div class="container">
  <h2>CRUD ANGULAR PHP Y MYSQL</h2>
  <div class="col-md-12 mt-6">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <h2>Administración de artículos</h2>
          <table class="table tablehover" *ngIf="hayRegistros(); else sinarticulos">
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Proveedor</th>
                <th>Fabricante</th>
                <th>Borrar</th>
                <th>Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let art of articulos">
                <td>{{art.codigo}}</td>
                <td>{{art.descripcion}}</td>
                <td>{{art.precio}}</td>
                <td>{{art.proveedor}}</td>
                <td>{{art.fabricante}}</td>
                <td><button (click)="baja(art.codigo)" class="btn btn-danger">Borrar</button></td>
                <td><button (click)="seleccionar(art.codigo)" class="btn btnwarning">Seleccionar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #sinarticulos>
          <p>No hay articulos.</p>
        </ng-template>
        <div>
          <div class="form-group">
            <input type="text" required [(ngModel)]="art.descripcion" placeholder="descripcion" class="form-control" #descripcion="ngModel" />
            <div *ngIf="descripcion.invalid && descripcion.touched">
              <span *ngIf="descripcion.errors.required" class="text-danger">Descripcion: Campo vacio</span>
            </div>
          </div>

          <div class="form-group">
            <input type="number" required min="0" [(ngModel)]="art.precio" placeholder="precio" class="form-control" #precio="ngModel"  />
            <div *ngIf="precio.invalid && precio.touched">
              <span *ngIf="precio.errors.required" class="text-danger">Precio: Campo vacio</span>
              <span *ngIf="precio.errors.min" class="text-danger">Precio: Cero es el minimo valor permitido</span>
            </div>
          </div>  

          <div class="form-group">
            <input type="text" required [(ngModel)]="art.proveedor" placeholder="proveedor" class="form-control" #proveedor="ngModel"/>
            <div *ngIf="proveedor.invalid && proveedor.touched">
              <span *ngIf="proveedor.errors.required" class="text-danger">Proveedor: Campo vacio</span>
              
            </div>
          </div>

          <div class="form-group">
            <input type="text" required [(ngModel)]="art.fabricante" placeholder="fabricante" class="form-control" #fabricante="ngModel"/>
            <div *ngIf="fabricante.invalid && fabricante.touched">
              <span *ngIf="fabricante.errors.required" class="text-danger">Fabricante: Campo vacio</span>
            </div>
          </div>

          <button (click)="alta()" *ngIf="art.codigo == 0" class="btn btn-primary btn-space">Agregar</button>
          <button (click)="modificacion()" *ngIf="art.codigo !== 0" class="btn btn-warning">Modificar</button>
        </div>
      </div>
    </div>
  </div>
</div>
